<div class="container-fluid">
	<div class="row">
		
		<div class="col-md-6 ">
			<div class="row login-right-pane">
				<div class="logo text-center">
					<a href="#">
						<img src="assets/logo.png">
					</a>
				</div>
			</div>
			<div class="row login-right-pane text-center">
				<b>Sign-In to Admin</b>
			</div>
			<div class="row login-right-pane">
				<form (ngSubmit)="f.form.valid && signin()" #f="ngForm" action="">
					<ng-template #alertSignin></ng-template>
					<div class="form-group">
						<input class="form-control m-input" type="text" placeholder="Email" name="email" [(ngModel)]="model.email" #email="ngModel">
					</div>
					<div class="form-group">
						<input class="form-control" type="password" placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel">
					</div>
					
					<div class="form-group">
						<label class="m-checkbox m-checkbox--focus">
							<input type="checkbox" name="remember" [(ngModel)]="model.remember" #remember="ngModel">
							Remember me
							<span></span>
						</label>
					</div>
					<div class="form-group text-center">
						<button [disabled]="loading" [ngClass]="{'loader-spinner': loading}" class="btn btn-primary login-btn">
							Sign In
						</button>
					</div>
					</form>
			</div>
		</div>
		
		<div class="col-md-6 login-left-pane">
			<div class="row login-box">
				<div class="text-center login-content">
					<h1>CapitalX</h1>
					<h3>Ultimate HRM &amp; Accounts Features  </h3>

					<p>eOffice is an office management software where you can easily manage your Employee, Accounts, Business Transaction, Manage product, customer, Vendor, Sales and Purchase etc.</p>
				</div>
			</div>
		</div>
	</div>

</div>

